@tailwind base;
@tailwind components;
@tailwind utilities;

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    background-color: rgba(0,0, 0, 0.4);
}


audio
{
-webkit-transition:all 0.1s linear;
-moz-transition:all 0.1s linear;
-o-transition:all 0.1s linear;
transition:all 0.1s linear;
-moz-box-shadow: 2px 2px 4px 0px rgba(0,0, 0, 0.4);
-webkit-box-shadow:  2px 2px 4px 0px rgba(0,0, 0, 0.4);
box-shadow: 2px 2px 4px 0px rgba(0,0, 0, 0.4);
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}